.overflow-area {
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  max-height: 72px;
  -webkit-line-clamp: 3;
  display: block;
  display: -webkit-box;
  max-width: 303px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
}
