<prx-hero blue=true>
  <h1 class="hero-title" *ngIf="id">Edit Series</h1>
  <h1 class="hero-title" *ngIf="!id">Create Series</h1>
  <div class="hero-info" *ngIf="series">
    <h2>{{series.title || '(Untitled)'}}</h2>
    <p *ngIf="series?.isNew">Not saved</p>
    <p *ngIf="!series?.isNew">Last modified {{series.updatedAt | timeago}}</p>
  </div>
  <div class="hero-actions" *ngIf="series">

    <ng-container *ngIf="series.isNew">
      <prx-button [model]="series" plain=1 working=0 disabled=0 (click)="discard()">Discard</prx-button>
      <prx-button [model]="series" visible=1 green=1 (click)="save()">Create</prx-button>
    </ng-container>

    <ng-container *ngIf="!series.isNew">
      <prx-button [model]="series" plain=1 working=0 disabled=0 (click)="discard()">Discard</prx-button>
      <prx-button [model]="series" (click)="save()">Save
        <div *ngIf="series.invalid()" class="invalid-tip">
          <h4>Invalid changes</h4>
          <p>Correct them before saving</p>
        </div>
      </prx-button>
      <prx-button working=0 disabled=1 [visible]="!series.changed()">Saved</prx-button>
    </ng-container>

  </div>
</prx-hero>

<prx-tabs [model]="series">
  <nav>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="base">Basic Info</a>
    <a routerLinkActive="active" [routerLink]="[base, 'templates']">Audio Templates</a>
    <a routerLinkActive="active" [routerLink]="[base, 'podcast']">Podcast Info</a>
    <a *ngIf="fromImport"
      routerLinkActive="active"
      [routerLink]="[base, 'import-status']"
      >
      Import Status
    </a>
    <a *ngIf="series && !series?.isNew" routerLinkActive="active" [routerLink]="[base, 'plan']">Plan Episodes</a>
  </nav>

  <div class="links" *ngIf="series && !series?.isNew">
    <a routerLinkActive="active" [routerLink]="[base, 'list']">{{storyCount}} {{storyNoun}} in Series</a>
  </div>
  <div class="extras">
    <button *ngIf="id && storyCount == 0" class="delete" (click)="confirmDelete($event)">Delete</button>
  </div>
</prx-tabs>
