# (1) cp env-example .env
# (2) add your ENV overrides here
# (3) profit

# prx api
CMS_HOST=https://cms-staging.prx.tech
CMS_TTL=
CMS_ROOT_TTL=3600
CMS_USE_LOCALSTORAGE=

# prx auth
AUTH_HOST=https://id-staging.prx.tech
# for publish.prx.docker
#AUTH_CLIENT_ID=rWeO7frPqkxmAR378PBlVwEQ0uf4F5u3Fwx8rv1D
# for publish.prx.dev
AUTH_CLIENT_ID=35zRqonwphKY05Uu2RA1YquwqyonSh3V6vAtnpBt

# aws uploading
BUCKET_NAME=prx-up
BUCKET_FOLDER=dev
SIGN_URL=your-signing-url
AWS_KEY=your-aws-key
AWS_URL=your-cloudfront-url
USE_CLOUDFRONT=true

# embeddable player
PLAY_HOST=https://play-staging.prx.tech

# monitoring
NEW_RELIC_APP_NAME=
NEW_RELIC_LICENSE_KEY=
GA_KEY=
