# (1) cp env-example .env
# (2) add your ENV overrides here
# (3) profit
LOCAL_ENV=true

# prx api
CMS_HOST=cms.staging.prx.tech
CMS_TTL=
CMS_ROOT_TTL=3600
CMS_USE_LOCALSTORAGE=

# prx auth
AUTH_HOST=id.staging.prx.tech
# for http://publish.prx.docker
# AUTH_CLIENT_ID=rWeO7frPqkxmAR378PBlVwEQ0uf4F5u3Fwx8rv1D
# for https://publish.prx.docker
# AUTH_CLIENT_ID=R9AfbsVsKbC7dER34tEx9tTj4acFxgu1fTnqRuGs
# for https://publish.prx.dev
AUTH_CLIENT_ID=35zRqonwphKY05Uu2RA1YquwqyonSh3V6vAtnpB9

# aws uploading
UPLOAD_S3_ENDPOINT_HOST=publish-uploads-bucket.s3-accelerate.dualstack.amazonaws.com
UPLOAD_BUCKET_NAME=publish-uploads-bucket
UPLOAD_BUCKET_FOLDER=dev
UPLOAD_SIGNING_SERVICE_URL=your-signing-url
UPLOAD_SIGNING_SERVICE_KEY_ID=aws-key-used-by-signing-service
UPLOAD_PUBLIC_ACCESS_HOST=d1234567890.cloudfront.net

# embeddable player
PLAY_HOST=play.staging.prx.tech

# monitoring
NEW_RELIC_APP_NAME=
NEW_RELIC_LICENSE_KEY=
GA_KEY=

# dev server
PORT=4200
HOST=https://publish.prx.dev

# metrics
METRICS_HOST=
