/**
 * Main content layout
 */
.main section {
  display: flex;
  padding: 30px 0;
}
.main .subnav {
  flex: 0 0 260px;
  margin-right: 30px;
}
.main nav a {
  display: block;
  background-color: #fff;
  padding: 14px 20px;
  margin-bottom: 4px;
  font-weight: 400;
}
.main nav a:hover {
  text-decoration: underline;
}
.main nav a.router-link-active {
  background-color: #368aa2;
  color: #fff;
}
.main nav a.router-link-active:hover {
  background-color: #2b7187;
  text-decoration: none;
}
.main nav a[disabled], .main nav a[disabled]:hover {
  text-decoration: none;
  background-color: #f7f7f7;
  color: #93bdc9;
  cursor: not-allowed;
}
.main section .content {
  flex-grow: 1;
  border: 1px solid blue;
  min-height: 100px;
}

/**
 * TODO: restyle this delete button
 */
button.delete {
  color: #fff;
  background-color: #ee4d3e;
  margin: 30px 0 0 90px;
}
button.delete:hover {
  background-color: #ff0000;
}
