/**
 * Audio file templates
 */
div {
  display: block;
  padding: 16px 24px 0;
  border: 1px solid #ccc;
  margin-bottom: -1px;
}
.length >>> publish-fancy-field {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}
.length >>> input {
  max-width: 80px;
}
.length >>> .nested label {
  font-size: 15px;
}
