/**
 * Audio file templates
 */
.file {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #DDD;
  margin-top: -1px;
  padding: 18px 0;
}
.main {
  flex-grow: 1;
}
.label >>> .field {
  margin-bottom: 0;
}
.label >>> .hint {
  display: none;
}
.label >>> input {
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid #ddd;
}
.lengths {
  flex-grow: 1;
  border: 1px solid #DDDDDD;
  border-top: 0 none;
  padding: 2px 0 5px;
}
.lengths prx-fancy-duration {
  margin: 10px 0;
}
.lengths >>> h4 {
  width: 40px;
}
.remove {
  order: 3;
  flex-basis: 44px;
}
.error {
  order: 4;
  color: #e32;
  width: 100%;
  margin-top: 4px;
}
@media screen and (min-width: 992px) {
  .lengths prx-fancy-duration {
    margin: 0;
    display: inline-block;
    width: auto;
  }
  .lengths >>> h4 {
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding: 6px 0;
  }
  .lengths {
    border: 1px solid #DDDDDD;
    border-left: 0 none;
  }
}
