<form *ngIf="series">
  <prx-fancy-field label="Audio Templates">
    <div class="fancy-hint">
      When you add episodes, you may want to have different versions of the audio (e.g., clean v. explicit). This page lets you define
      templates for the versions each episode in this series should have, including specific segment requirements (note: don't include ads
      here). Every episode using these templates will be checked against them for validity.
    </div>
  </prx-fancy-field>

  <ng-container *ngFor="let v of series.versionTemplates">
    <div *ngIf="!v.isDestroy" class="version">
      <header>
        <strong>{{ v?.label }}</strong>
        <button type="button" class="btn-icon icon-cancel grey-dove" aria-label="Remove" (click)="confirmRemoveVersion(v)"></button>
      </header>
      <section>
        <prx-fancy-field required textinput [model]="v" name="label" label="Template Label">
          <div class="fancy-hint">A name for this audio template, such as "Podcast Audio" or "Clean Version"</div>
        </prx-fancy-field>

        <prx-fancy-field *ngIf="v.isAudio" class="length" [model]="v" label="Total length" invalid="lengthAny">
          <div class="fancy-hint">
            The minimum and maximum HH:MM:SS durations for all the audio files. Used to ensure that each of your episodes is the desired
            approximate length, and to prevent uploading bad audio.
          </div>
          <prx-fancy-duration
            [model]="v"
            name="lengthMinimum"
            label="Minimum"
            [advancedConfirm]="lengthConfirm(v, v['lengthMinimum'] | duration, 'minimum')"
          ></prx-fancy-duration>
          <prx-fancy-duration
            [model]="v"
            name="lengthMaximum"
            label="Maximum"
            [advancedConfirm]="lengthConfirm(v, v['lengthMaximum'] | duration, 'maximum')"
          ></prx-fancy-duration>
        </prx-fancy-field>

        <prx-fancy-field *ngIf="v.isAudio" label="Segments">
          <div class="fancy-hint">
            Describe the individual segment audio files required in this template. Give them a label such as "Billboard" or "Part A", and an
            optional min/max length to validate the specific file.
          </div>
          <publish-file-template *ngFor="let t of v.fileTemplates" [file]="t" [version]="v"></publish-file-template>
          <button tabindex="-1" class="add-segment" *ngIf="canAddFile(v)" type="button" (click)="confirmAddFile($event, v)">
            <i class="icon-plus white" aria-hidden="true"></i> Add Segment
          </button>
        </prx-fancy-field>
      </section>
    </div>
  </ng-container>

  <section>
    <button class="add-version" (click)="confirmAddAudioVersion()">
      <i class="icon-plus white" aria-hidden="true"></i> Add audio template
    </button>
    <button class="add-version" (click)="addVideoVersion()"><i class="icon-plus white" aria-hidden="true"></i> Add video template</button>
  </section>
</form>
