/**
 * Series version/file templates
 */
.version {
  width: 100%;
}
.version header {
  background-color: #b8b8b8;
  padding: 16px 14px;
  position: relative;
}
.version header button {
  position: absolute;
  right: 4px;
  top: 6px;
}
.version header strong {
  color: #222;
  font-size: 17px;
  font-weight: 600;
  vertical-align: middle;
  margin-right: 14px;
}
.version section {
  background: #fff;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-top: -1px;
  margin-bottom: 30px;
  padding: 18px 22px 0;
}
.version:last-child section {
  margin-bottom: 0;
}
.length >>> prx-fancy-duration {
  margin-bottom: 12px;
}
.length >>> prx-fancy-duration:last-child {
  margin-bottom: 0;
}
.length >>> h4 {
  width: 90px;
}
@media screen and (min-width: 992px) {
  .length >>> prx-fancy-duration {
    display: inline-block;
    width: auto;
    margin-right: 20px;
    margin-bottom: 0;
  }
  .length >>> h4 {
    width: auto;
  }
}
.add-segment {
  margin-top: 20px;
}
.add-version {
  margin-right: 10px;
}
.add-version i,
.add-segment i {
  vertical-align: bottom;
}
