/**
 * Series version/file templates
 */
.version {
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 22px;
}
.version:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.length >>> publish-fancy-field {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}
.length >>> input {
  max-width: 80px;
}
.empty {
  border: 1px solid #ccc;
  text-align: center;
}
.empty h4 {
  padding: 74px 0;
  color: #bbb;
  font-size: 18px;
  font-weight: 600;
}
.add-version {
  margin-top: 6px;
}
.actions {
  position: absolute;
  top: 6px;
  right: 0;
}
.actions a {
  cursor: pointer;
  margin-left: 6px;
}
.actions a:hover, .actions a:focus {
  text-decoration: underline;
}
