.span-fields publish-fancy-field {
  display: inline-block;
  width: 250px;
  margin-right: 40px;
}
.feed-urls input {
  min-width: 400px;
  padding: 10px 8px;
  color: #939393;
  background: #fff;
  margin-bottom: 4px;
}
.feed-urls button, .feed-urls .button {
  padding-top: 9px;
  padding-bottom: 8px;
}
.feed-urls button {
  background-color: #f59f51;
}
.feed-urls button:hover, .feed-urls button:focus {
  background-color: #e28b42;
}

.custom-path >>> input {
  width: 160px;
}
