h4 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 6px 0;
  color: #343434;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.public {
  color: #000000;
}

.futurePublic {
  color: #ffa500;
}

.private {
  color: #ee4d3e;
}
