<form [ngSwitch]="state">

  <publish-fancy-field label="Series Podcast" *ngSwitchCase="'new'">
    <div class="fancy-hint">You must save your series before you can create
      a podcast distribution for it.</div>
  </publish-fancy-field>

  <publish-fancy-field label="Series Podcast" *ngSwitchCase="'creating'">
    <div class="fancy-hint">No podcast has been configured for this series.</div>
    <button (click)="createDistribution()">Create Podcast</button>
  </publish-fancy-field>

  <div *ngSwitchCase="'editing'">

    <publish-fancy-field label="PRX Feed" class="feed-url" *ngIf="podcast?.id">
      <div class="fancy-hint">The public URL of your PRX podcast feed.</div>
      <input type="text" readonly [ngModel]="podcast?.publishedUrl" name="publishedUrl" #pubFeed/>
      <button [publishCopyInput]="pubFeed">Copy</button>
      <a class="button" target="_blank" rel="noopener" [href]="podcast?.publishedUrl">Open Link</a>
    </publish-fancy-field>

    <publish-fancy-field label="Author Information">
      <div class="fancy-hint">Set the author name and email to be associated with this podcast.</div>
      <div class="span-fields">
        <publish-fancy-field label="Name" textinput [model]="podcast" name="authorName" small=1>
        </publish-fancy-field>
        <publish-fancy-field label="Email" textinput [model]="podcast" name="authorEmail" small=1>
        </publish-fancy-field>
      </div>
    </publish-fancy-field>

    <publish-fancy-field label="iTunes Categories" required=1>
      <div class="fancy-hint">Some description of what these are here and
        maybe also a link to the itunes docs.</div>
      <div class="span-fields">
        <publish-fancy-field label="Category" [model]="podcast" name="category"
          [select]="categories" (change)="setSubCategories()" small=1>
        </publish-fancy-field>
        <publish-fancy-field *ngIf="!subCategories.length" label="Sub-Category"
          [select]="[]" small=1>
        </publish-fancy-field>
        <publish-fancy-field *ngIf="subCategories.length" label="Sub-Category"
          [model]="podcast" name="subCategory" [select]="subCategories" small=1>
        </publish-fancy-field>
      </div>
    </publish-fancy-field>

    <publish-fancy-field label="Explicit" required=1 [model]="podcast" name="explicit" [select]="explicitOpts">
      <div class="fancy-hint">Do any of your podcast episodes contain explicit material?</div>
    </publish-fancy-field>

    <publish-fancy-field label="Homepage Link" required textinput [model]="podcast" name="link">
      <div class="fancy-hint">A link to the homepage for your podcast.</div>
    </publish-fancy-field>

    <publish-fancy-field label="New Feed Url" textinput [model]="podcast" name="newFeedUrl">
      <div class="fancy-hint">Use this to manually change the URL where your podcast is located.</div>
    </publish-fancy-field>

  </div>

</form>
