<div *ngIf="audio && !audio.isDestroy" class="audio-file"
  [class.canceled]="canceled" [class.changed]="audio.changed()">

  <div class="reorder">
    <i *ngIf="!canceled" class="icon-menu drag-handle"></i>
  </div>

  <div class="main">

    <div class="type">
      <span>{{audio.label}}</span>
      <i class="icon-down-dir"></i>
    </div>

    <div class="info">
      <span>{{audio.filename}}</span>
      <span *ngIf="audio.duration" class="size">({{audio.duration | duration}})</span>
      <span *ngIf="!audio.duration && audio.size" class="size">({{audio.size | filesize}})</span>
    </div>

    <div *ngIf="canceled" class="progress canceled">
      <p *ngIf="audio.isUploading">Upload Canceled</p>
      <p *ngIf="!audio.isUploading">File Deleted</p>
    </div>

    <div *ngIf="!canceled && audio.isUploadError" class="progress errored">
      <p>Upload Error</p>
      <div *ngIf="audio.upload" class="retry">
        <a class="icon-cw" href="" (click)="onRetry($event)">Try Again</a>
      </div>
    </div>

    <div *ngIf="!canceled && !audio.isUploading && !audio.isUploadError && !audio.isProcessing && !audio.isProcessingError && audio.invalid()" class="progress errored">
      <p>{{audio.invalid()}}</p>
    </div>

    <div *ngIf="!canceled && audio.isUploading && !audio.isUploadError" class="progress uploading">
      <p>Uploading</p>
      <div class="meter">
        <span [style.width.%]="audio.progress * 100"></span>
      </div>
    </div>

    <div *ngIf="!canceled && audio.isProcessError" class="progress errored">
      <p>{{audio.isProcessError}}</p>
      <div class="retry">
        <a class="icon-cw" href="" (click)="onRetry($event)">Try Again</a>
      </div>
    </div>

    <div *ngIf="!canceled && audio.isProcessing" class="progress processing">
      <p>Processing</p>
      <div class="meter">
        <span [style.width.%]="audio.progress * 100"></span>
      </div>
    </div>

  </div>

  <div class="cancel">
    <i *ngIf="!canceled" class="icon-cancel" (click)="onCancel($event)"></i>
  </div>
</div>

<div *ngIf="placeholder" class="audio-file placeholder">
  <div class="reorder"></div>
  <div class="main">
    <div class="type">
      <span>{{placeholder.label}}</span>
      <i class="icon-down-dir"></i>
    </div>
    <div class="info">
      <span *ngIf="placeholder.lengthMinimum && placeholder.lengthMaximum">
        Length between {{placeholder.lengthMinimum | duration}} and {{placeholder.lengthMaximum | duration}}
      </span>
      <span *ngIf="placeholder.lengthMinimum && !placeholder.lengthMaximum">
        Length greater than {{placeholder.lengthMinimum | duration}}
      </span>
      <span *ngIf="!placeholder.lengthMinimum && placeholder.lengthMaximum">
        Length less than {{placeholder.lengthMaximum | duration}}
      </span>
    </div>
    <div class="cancel"></div>
</div>
