/**
 * Story basic editing
 */
hr {
  width: 100%;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #ccc;
  margin: 0 0 30px;
}

prx-select {
  position: absolute;
  top: -4px;
  right: 0;
}
/* TODO: move to styleguide */
/*prx-select.changed >>> .dropdown-toggle {
  outline: 5px auto #f09b4c;
}
prx-select.invalid >>> .dropdown-toggle {
  outline: 5px auto #e32;
}*/

publish-upload {
  margin-bottom: 30px;
}
publish-upload:last-child {
  margin-bottom: 0;
}

prx-datepicker.changed {
  outline: 5px auto #f09b4c;
}

prx-datepicker.invalid {
  outline: 5px auto #e32;
}

prx-timepicker {
  margin-left: 5px;
}

prx-timepicker.changed {
  outline: 5px auto #f09b4c;
}
