/**
 * Banner series/account image
 */
h2 a {
  color: #fff;
}
.story-series {
  margin-top: -28px;
  padding-bottom: 28px;
}
publish-image {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  background-color: #a3a3a3;
  display: block;
  float: left;
}
