/**
 * Podcast settings
 */
.version header {
  background-color: #B8B8B8;
  padding: 16px 14px;
}
.version header strong {
  color: #222;
  font-size: 17px;
  font-weight: 600;
  vertical-align: middle;
  margin-right: 14px;
}
.version section {
  background: #fff;
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #DDD;
  margin-top: -1px;
  margin-bottom: 30px;
  padding: 18px 22px 0;
}
.version:last-child section {
  margin-bottom: 0;
}
.span-fields publish-fancy-field {
  display: inline-block;
  width: 250px;
  margin-right: 40px;
}
