<prx-spinner *ngIf="!episode"></prx-spinner>
<form *ngIf="episode">
  <prx-fancy-field *ngIf="versions?.length" label="Explicit">
    <div class="fancy-hint">
      In accordance with
      <a [href]="itunesRequirementsDoc"
         title="Requirements - Podcasts Connect Help">the requirements for iTunes podcast content</a>,
      does any of your podcast audio contain
      <a [href]="itunesExplicitDoc"
         title="About iTunes Store Parental Advisories - Apple Support">explicit material?</a>
      <ng-container *ngIf="podcastExplicit">
        Setting this field will override your <strong>{{podcastExplicit}}</strong> podcast global value.
      </ng-container>
    </div>
    <div *ngFor="let v of versions" class="version">
      <header>
        <strong>{{v?.label}}</strong>
      </header>
      <section>
        <prx-fancy-field [model]="v" [select]="explicitOpts" name="explicit">
        </prx-fancy-field>
      </section>
    </div>
  </prx-fancy-field>

  <prx-fancy-field label="Episode Type" [model]="episode" [select]="episodeTypeOptions" name="itunesType">
    <div class="fancy-hint">Select the type of episode: <strong>full</strong> (default and most common); <strong>trailer</strong> (a short, promotional piece of content that represents a preview of a show); or <strong>bonus</strong> (extra content like behind-the-scenes information or interviews).</div>
  </prx-fancy-field>

  <prx-fancy-field label="Author Information">
    <div class="fancy-hint">
      If the author info of this episode should be different from that of the podcast (for example,
      if this episode has a guest host or is cross-posted), you can set that author info here.
      <ng-container *ngIf="podcastAuthorName || podcastAuthorEmail">
        Setting these fields will override your
        podcast global value{{podcastAuthorName && podcastAuthorEmail ? 's' : ''}} of
        <strong *ngIf="podcastAuthorName">{{podcastAuthorName}}</strong>{{podcastAuthorName && !podcastAuthorEmail ? '.' : ''}}
        {{podcastAuthorName && podcastAuthorEmail ? 'and' : ''}}
        <strong *ngIf="podcastAuthorEmail">{{podcastAuthorEmail}}</strong>{{podcastAuthorEmail ? '.' : ''}}
      </ng-container>
    </div>
    <div class="span-fields">
      <prx-fancy-field label="Name" textinput [model]="episode" name="authorName" small=1>
      </prx-fancy-field>
      <prx-fancy-field label="Email" textinput [model]="episode" name="authorEmail" small=1>
      </prx-fancy-field>
    </div>
  </prx-fancy-field>

  <prx-fancy-field label="Episode URL" textinput [model]="episode" name="episodeUrl" required>
    <div class="fancy-hint">
      If you have a public URL for this podcast episode, enter it here.
    </div>
  </prx-fancy-field>

  <prx-fancy-field label="Summary" *ngIf="episode.summary">
    <div class="fancy-hint">The iTunes summary for this episode. You may create links, but other formatting is not supported.</div>
    <publish-wysiwyg [model]="episode" name="summary" [content]="episode.summary"
                     inputFormat="HTML" outputFormat="HTML" [changed]="episode.changed('summary')"></publish-wysiwyg>
  </prx-fancy-field>

  <prx-fancy-field label="Summary" *ngIf="!episode.summary">
    <div class="fancy-hint">
      Unless otherwise specified, the summary is created from the description of your episode as shown in the preview below.
      The iTunes summary only allows for links, so all other formatting has been removed.
      <p>
        <input type="checkbox" (click)="toggleAlternateSummary()" name="alternateSummary" id="alternateSummary">
        <label for="alternateSummary">Enter an alternate summary</label>
      </p>
    </div>
    <publish-wysiwyg #readonlyEditor [content]="story.description" [changed]="false" [editable]="false"
                     inputFormat="MARKDOWN" outputFormat="HTML">
    </publish-wysiwyg>
  </prx-fancy-field>

  <publish-advanced-section *ngIf="!episode?.isNew">
    <prx-fancy-field label="GUID" required textinput [model]="episode" name="guid" [advancedConfirm]="guidConfirm">
      <div class="fancy-hint">
        Every podcast episode on iTunes should have a permanent, case-sensitive globally unique identifier (GUID).
        When an episode is added to a podcast's RSS feed, the episode is deemed "new" if no episode with that GUID exists
        yet in the feed. In certain rare cases, it can make sense to give an existing episode a new GUID.
        If you'd like to change the GUID for this episode, you may do so here.
      </div>
    </prx-fancy-field>
  </publish-advanced-section>

</form>
