.actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 1em 1em;
}

.action prx-button {
  margin-left: 0.5em;
}

button.secondary {
  color: #ee4d3e;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100px;
}
button.secondary:hover, button.secondary:focus {
  color: #ff0000;
}
