:host {
  display: block;
  min-height: 100px;
  margin-top: 20px;
  background: #fff;
}
h1 {
  background-color: #aaa;
  padding: 8px 20px;
  margin-bottom: 4px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
h1.draft {
  background-color: #ffa500;
}
h1.scheduled {
  background-color: #61A85D;
}
h1.published {
  background-color: #0089bc;
}
dl {
  padding: 6px 10px 16px 16px
}
dl:after {
  content: '';
  display: block;
  clear: both;
}
dt, dd {
  padding-top: 10px;
}
dt {
  float: left;
  clear: left;
  margin-right: 10px;
  font-weight: bold;
}
dd {
  min-height: 34px;
  margin-left: 84px;
  color: #555;
}
.status {
  padding: 3px 10px;
  z-index: 10;
  color: #fff;
  background-color: #444;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 18px;
}
.edit-status {
  margin-left: 6px;
}
prx-button {
  display: block;
  margin-top: 8px;
}
.error {
  color: #e32;
  font-weight: 600;
}
