<prx-auth [host]="authHost" [client]="authClient"></prx-auth>
<publish-header>
  <publish-navitem *ngIf="loggedIn" route="/" text="Home"></publish-navitem>
  <publish-navitem *ngIf="loggedIn" route="/series/new" text="New Series"></publish-navitem>
  <publish-navitem *ngIf="loggedIn" route="/search" text="Search"></publish-navitem>
  <publish-navuser *ngIf="loggedIn" #nav>
    <publish-spinner class="user-loading" inverse=true></publish-spinner>
    <publish-image *ngIf="nav.userImageDoc" class="user-loaded" [imageDoc]="nav.userImageDoc"></publish-image>
  </publish-navuser>
</publish-header>
<main>
  <article>
    <router-outlet></router-outlet>
  </article>
</main>
<publish-footer></publish-footer>
<publish-modal></publish-modal>
<publish-toastr></publish-toastr>
