<publish-header>
  <publish-navitem *ngIf="loggedIn" route="/" text="Home"></publish-navitem>
  <publish-navitem *ngIf="loggedIn" route="/series/new" text="New Series"></publish-navitem>
  <publish-navuser *ngIf="loggedIn" #nav>
    <user-loading><publish-spinner inverse=true></publish-spinner></user-loading>
    <user-loaded><publish-image [imageDoc]="nav.userImageDoc"></publish-image></user-loaded>
  </publish-navuser>
</publish-header>
<main>
  <article>
    <router-outlet></router-outlet>
  </article>
</main>
<publish-footer></publish-footer>
<publish-auth></publish-auth>
<publish-modal></publish-modal>
