<prx-status-bar>
  <prx-status-bar-text bold uppercase stretch>Create Series Import</prx-status-bar-text>
  <ng-container *ngIf="series">
    <prx-button [model]="series" disabled="0" green=1 visible=1 [working]="isValidatingAndSaving()" (click)="validateImportUrlAndSave()">Import Podcast</prx-button>
  </ng-container>
</prx-status-bar>

<div class="main">
  <section>

    <form *ngIf="series">
      <prx-fancy-field textinput required [model]="series" name="importUrl" label="Podcast RSS Feed Url" required>
        <div class="fancy-hint">The URL of the podcast.</div>
      </prx-fancy-field>

      <div id="validation-status" style="">
        <span id="invalid-feed" *ngIf="importValidationState.invalid()">Invalid RSS Feed!</span>
      </div>

    </form>

</section>
</div>
