<prx-hero blue=true>
  <h1 class="hero-title">Create Series Import</h1>
  <div class="hero-info" *ngIf="series">
  </div>
  <div class="hero-actions" *ngIf="series">

  <prx-button [model]="series" green=1 visible=1 disabled="!importValidationState.valid()" (click)="save()">Create</prx-button>

  </div>
</prx-hero>

<div class="main">
  <section>

    <form *ngIf="series">
      <prx-fancy-field textinput required [model]="series" name="importUrl" label="Podcast RSS Feed Url" required>
        <div class="fancy-hint">The URL of the podcast.</div>
      </prx-fancy-field>

      <div id="validate-feed-button" class="button" *ngIf="series?.isNew" (click)="validateImportUrl()">
        Validate RSS Feed
      </div>

      <div class="podcast-preview" *ngIf="importValidationState.valid()">
        <img class="itunes-image" src="{{importValidationState.feed.itunes_image}}">
        <p class="podcast-title">{{importValidationState.feed.title}}"</p>
        <p>{{importValidationState.feed.entries.length}} Episodes for Import</p>
      </div>

      <div id="validation-status" style="">
        <prx-spinner *ngIf="importValidationState.validating()" loadingMessage="Validating RSS Feed Url"></prx-spinner>
        <span id="invalid-feed" *ngIf="importValidationState.invalid()">Invalid RSS Feed!</span>
      </div>

    </form>

</section>
</div>
