<div [class]="fieldClasses">

  <section [hover-tip]="tiptext" class="hover-tip"><p></p></section>

  <h3 *ngIf="label && !small">
    <label [attr.for]="name" [attr.required]="required">{{label}}</label>
  </h3>
  <h4 *ngIf="label && small">
    <label [attr.for]="name" [attr.required]="required">{{label}}</label>
  </h4>

  <p class="hint"><ng-content select=".fancy-hint"></ng-content></p>

  <div class="nested">
    <ng-content></ng-content>
  </div>

  <template [ngIf]="model">
    <input *ngIf="type == 'textinput'" [id]="name" type="text" [disabled]="!model"
      [ngModel]="model[name]" (ngModelChange)="onChange($event)"/>
    <input *ngIf="type == 'number'" [id]="name" type="number" [disabled]="!model"
      [ngModel]="model[name]" (ngModelChange)="onChange($event)"/>
    <textarea *ngIf="type == 'textarea'" [id]="name" [disabled]="!model"
      [(ngModel)]="model[name]" (ngModelChange)="onChange($event)"></textarea>
    <select *ngIf="type == 'select'" [id]="name" [disabled]="!model"
      [(ngModel)]="model[name]" (ngModelChange)="onChange($event)">
      <option *ngFor="let opt of select" [value]="opt">{{opt}}</option>
    </select>
  </template>

  <template [ngIf]="!model">
    <input *ngIf="type == 'textinput'" [id]="name" type="text" disabled=true/>
    <textarea *ngIf="type == 'textarea'" [id]="name" disabled=true></textarea>
    <select *ngIf="type == 'select'" [id]="name" disabled=true></select>
  </template>

  <p *ngIf="formattedInvalid" class="error">{{formattedInvalid | capitalize}}</p>
</div>
