:host {
  text-align: left;
}
header {
  background-color: #B8B8B8;
  padding: 16px 14px;
}
header strong {
  color: #222;
  font-size: 17px;
  font-weight: 600;
  vertical-align: middle;
  margin-right: 14px;
}
header span {
  color: #444;
  font-size: 14px;
  vertical-align: middle;
}
.loading {
  position: relative;
}
.empty {
  background: #fff;
  text-align: center;
  border-bottom: 1px solid #DDD;
}
.empty h4 {
  color: #CCC;
  font-size: 20px;
  font-weight: 600;
  line-height: 108px;
}
footer {
  background: #FFF;
  padding: 10px 50px;
  text-align: right;
}
footer input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
footer label {
  padding: 6px 10px;
  margin-bottom: 0;
}
footer input:focus + label, footer label:hover {
  background-color: #2b7187;
}
