.new-image {
  background: #fff;
  border: 2px #ccc dashed;
  padding-top: 110px;
  text-align: center;
}
.new-image.changed {
  outline: 5px auto #f09b4c;
}
.new-image input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.new-image label {
  padding: 6px 10px;
}
.new-image input:focus + label, .new-image label:hover {
  background-color: #2b7187;
}

.invalid {
  outline: 5px auto #e32;
}

p.error {
  margin-top: 6px;
  color: #e32;
}

.size {
  height: 50px;
  margin-top: -20px;
}
.size p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
  color: #aaa;
}
