.image-file {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  margin-top: 10px;
}
.image-file.canceled {
  animation: fade-out 0.5s 1;
  -webkit-animation: fade-out 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
}
@keyframes fade-out { from { opacity :1; } to { opacity :0; } }
@-webkit-keyframes fade-out { from { opacity :1; } to { opacity :0; } }

.thumbnail {
  width: 266px;
  min-height: 200px;
  margin-right: 20px;
  position: relative;
}
.thumbnail.changed {
  outline: 5px auto #f09b4c;
}
.thumbnail .uploading {
  width: 100%;
  height: 200px;
  background: #fff;
  border: 2px #ccc dashed;
  padding-top: 110px;
  text-align: center;
}
.thumbnail p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 100;
  padding-bottom: 10px;
  color: #aaa;
}
.thumbnail .meter {
  flex-grow: 1;
  background-color: #DDDDDD;
  height: 10px;
  position: relative;
  margin: 0 20px;
}
.thumbnail .meter > span {
  display: block;
  height: 100%;
  width: 0%;
  transition: 0.4s linear;
  transition-property: width;
  background-color: #368aa2;
  overflow: hidden;
}
.thumbnail publish-image {
  display: block;
  height: 200px;
  width: 100%;
  background-color: #fff;
  border: 2px #ccc solid;
}
.thumbnail .cancel {
  position: absolute;
  top: 0;
  right: 0;
}
.thumbnail .cancel i {
  font-size: 22px;
  color: #368AA2;
  cursor: pointer;
}
.thumbnail .cancel i:hover {
  color: #2b7187;
}
.thumbnail .processing {
  text-align: center;
  padding-top: 8px;
}
.thumbnail .processing p {
  color: #25B370;
  font-size: 14px;
  font-weight: bold;
}
.thumbnail .processing .meter > span {
  background-color: #25B370;
}
.thumbnail .errored p {
  color: #E32E32;
}
.info {
  flex: 1;
  padding: 10px 0;
}
.info h3 {
  font-size: 20px;
  font-weight: 600;
  color: #999;
  margin-bottom: 12px;
}
.info p {
  font-size: 14px;
  font-weight: bold;
}
