<div class="import-status-card">
  <section>

    <div class="podcast-import">

      <div class="import-complete-indicator incomplete">
        <h1>Importing Podcast Episodes</h1>
        <h1>{{ episodeImportsPercentComplete() | percent }} Complete</h1>
        <p>{{seriesImport.episodeImportingCount}} podcast episodes scheduled for import.</p>
        <p>{{episodeImportsFilter('complete').length}} podcast episodes successfully imported.</p>
        <p *ngIf="episodeImportsFilter('failed').length > 0">{{episodeImportsFilter('failed').length}} podcast episodes failed to import.</p>
        <p >{{episodeImportsRemaining()}} podcast episodes remaining to import.</p>
        <p *ngIf="episodeImportPlaceholders.length > 0">{{episodeImportPlaceholders.length}} podcast episodes skipped due to duplicate guid..</p>
      </div>

      <!-- <button (click)="seriesImportReload()" *ngIf="seriesImportIs('series created')">Refresh</button> -->

      <ul>
        <li class="episode-import-indicator" *ngFor="let episodeImport of episodeImportsFilter('failed')">
          <p class="episode-import-error">
            FAILED
          </p>
        </li>
      </ul>
    </div>

  </section>
</div>

