.actions {
  position: relative;
  width: 78px;
  margin-left: auto;
  text-align: right;
}
.actions prx-spinner >>> .spinner {
  margin: auto 20px;
}
.actions a {
  padding: 5px;
  display: inline-flex;
  align-items: center;
}
.actions span {
  width: 20px;
  height: 20px;
}