.story-loader {
  position: relative;
  display: block;
  background: #ddd;
  height: 78px;
}
prx-episode-card, .story-loader {
  margin-top: 10px;
}
.list-heading {
  font-size: 18px;
  color: #676767;
}
