header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header select ~ select {
  margin-left: 6px;
}
option[disabled] {
  display: none;
}

h2 {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #676767;
}

.story-loader {
  position: relative;
  display: block;
  background: #ddd;
  height: 78px;
}
publish-calendar-story, .story-loader {
  display: block;
  margin-top: 10px;
}
