<div class="main">
  <section>
    <header>
      <h2>Do a search for...</h2>

      <publish-search-series
        *ngIf="isOnSeriesTab()"
        [orderByOptions]="orderByOptionsSeries"
        [model]="searchSeriesParams"
        (modelChange)="searchWithParams($event)">
      </publish-search-series>

      <publish-search-story-form
        *ngIf="isOnStoriesTab()"
        [allSeriesIds]="allSeriesIds"
        [allSeries]="allSeries"
        [orderByOptions]="orderByOptionsStories"
        [model]="searchStoryParams"
        (modelChange)="searchWithParams($event)">
      </publish-search-story-form>

      <div>
        <button (click)="searchSeriesTab()" class="tab" [ngClass]="{'active': isOnSeriesTab()}" [disabled]="isOnSeriesTab()">Series</button>
        <button (click)="searchStoriesTab()" class="tab" [ngClass]="{'active': isOnStoriesTab()}" [disabled]="isOnStoriesTab()">Stories</button>

        <span class="pages">
          <button *ngIf="totalCount && pages?.length > 1" (click)="navigateToPagePer(1, totalCount)" class="btn-link">View All {{totalCount}} &raquo;</button>
          <button disabled *ngIf="totalCount && pages?.length === 1" class="btn-link">Viewing {{totalCount > 1 ? 'all ' + totalCount : totalCount}}</button>
        </span>

        <span *ngIf="totalCount > 0 && pages?.length > 1" class="pages">
          <button [disabled]="currentPage === 1" (click)="navigateToPagePer(currentPage - 1)" class="btn-link">&lt;</button>
          <button *ngFor="let page of pages | slice:pagesBegin:pagesEnd;"
                  [disabled]="page === currentPage" [ngClass]="{'active': page === currentPage}"
                  (click)="navigateToPagePer(page)"
                  class="btn-link">{{page}}</button>
          <button disabled *ngIf="pages.length > showNumPages" class="btn-link">of {{pages.length}}</button>
          <button [disabled]="currentPage === pages?.length" (click)="navigateToPagePer(currentPage + 1)" class="btn-link">&gt;</button>
        </span>
      </div>
    </header>

    <publish-spinner *ngIf="!isLoaded"></publish-spinner>
    <publish-story-list
      *ngIf="isOnStoriesTab()"
      [noStories]="noResults"
      [stories]="storiesResults"
      [loaders]="loaders"></publish-story-list>

    <publish-series-list
      *ngIf="isOnSeriesTab()"
      [noSeries]="noResults"
      [series]="seriesResults"
      [loaders]="loaders"></publish-series-list>
  </section>
</div>
