<div class="main">
  <section>
    <header>
      <h2>Your Series</h2>
      <a *ngIf="totalCount" class="all" [routerLink]="['search', { tab: 'series'}]">View All {{totalCount}} &raquo;</a>
    </header>
    <prx-spinner *ngIf="!isLoaded"></prx-spinner>
    <div *ngIf="noSeries">
      <div class="empty">You have no series available to manage via the Publish app.
        <br/>Older PRX series must be managed on
        <a href="https://www.prx.org/series/manage">the old version of PRX.org</a>.
        <a [routerLink]="['series/new']" class="new-series">
          <i class="icon-plus" aria-hidden="true"></i>
          <span>New Series</span>
        </a>
      </div>
      <publish-home-series noseries=true [auth]="auth" rows=4></publish-home-series>
    </div>

    <div *ngIf="oneSeries">
      <publish-home-series [series]="oneSeries" rows=4></publish-home-series>
      <publish-home-series noseries=true [auth]="auth" rows=4></publish-home-series>
    </div>

    <div *ngIf="manySeries">
      <publish-home-series *ngFor="let s of manySeries" [series]="s" rows=2></publish-home-series>
      <publish-home-series noseries=true [auth]="auth" rows=2></publish-home-series>
    </div>

    <div *ngIf="auth">
      <created-podcast-imports [auth]="auth"></created-podcast-imports>
    </div>

  </section>
</div>
