<div class="main">
  <section>
    <header>
      <h2>Your Series</h2>
      <a class="create" [routerLink]="['/series/new']">New Series &raquo;</a>
      <a *ngIf="totalCount" class="all" [routerLink]="['search', { tab: 'series'}]">View All {{totalCount}} &raquo;</a>
    </header>
    <publish-spinner *ngIf="!isLoaded"></publish-spinner>
    <div *ngIf="noSeries" class="empty">
      <p class="empty">You have no series available to manage via the Publish app.
        <br/>Older PRX series must be managed on
        <a href="https://www.prx.org/series/manage">the old version of PRX.org</a>.
      </p>
      <publish-home-series noseries=true [auth]="auth" rows=4></publish-home-series>
    </div>
    <div *ngIf="oneSeries">
      <publish-home-series [series]="oneSeries" rows=4></publish-home-series>
      <publish-home-series noseries=true [auth]="auth" rows=4></publish-home-series>
    </div>
    <div *ngIf="manySeries">
      <publish-home-series *ngFor="let s of manySeries" [series]="s" rows=2></publish-home-series>
      <publish-home-series noseries=true [auth]="auth" rows=2></publish-home-series>
    </div>
  </section>
</div>
